@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cl-internal-3gh7hq {
  color: #ceb667;
}
.cl-internal-15di0mo{
  color: #ceb667;
}
.cl-internal-phfxlr {
  align-items: center;
  margin-top: 1px;
}

body {
  background-image: url("https://h3mods.heroes.net.pl/img/bgblack.jpg");
  background-color: #302f2f;
  color: white;
  font-family: Inter;
}

.prose p {
  margin-top: 0;
  margin-bottom: 0;
}
.prose ol {
  margin-top: 0;
  margin-bottom: 0;
}
.prose ul {
  margin-top: 0;
  margin-bottom: 0;
}

.prose li {
  margin-top: 0;
  margin-bottom: 0;
}

.window {
  height: 80vh;
  max-height: 70vh; /* Adjust the desired height */
  overflow-y: auto;
  width: 70vw;
  margin: auto;
  padding: 10px; /* Optional: Add padding for spacing */
}

.window2 {
  max-height: 400px;
  overflow-y: auto;
  width: 70vw;
  margin: auto;
  padding: 10px; /* Optional: Add padding for spacing */
}

/* Style for the bracket container */
/* Style for the overall bracket container */
.link-button {
  display: inline-block;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  margin-right: 1rem; /* Adjust margin as needed */
  background-color: #1e4fa4; /* Adjust background color as needed */
  color: #ffffff; /* Adjust text color as needed */
  border: none;
  border-radius: 0.25rem; /* Adjust border radius as needed */
  text-decoration: none;
  font-size: 1rem; /* Adjust font size as needed */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Optional: Add transition effect */
}

.link-button:hover {
  background-color: #23509e; /* Adjust hover background color as needed */
}

.stick {
      width: 170px;
      position: fixed;
      top: 60px;
      overflow-x: hidden;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      scroll-snap-align: start;
      height: calc(100vh - 85px);
}

.stick2 {
      position: fixed;
      top: 50px;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      scroll-snap-align: start;
      height: calc(100vh - 50px);
}
/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  color:#ceb667;
  display: inline-block;
  background: rgba(0, 0, 0, 0.8);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  color:#ceb667;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.9;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ceb67b;
  display: block;
  cursor: pointer;
}
.dropdown-content a:hover {
  color: #e9c160;
}

.subdiv {
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 20px;
}

.subtitle {
  font-size: 14px;
  font-weight: bold;
  color: #c8c8c8;
  line-height: 18px;
  text-align: left;
  margin: 20;
  padding: 0; 
}
/* Change color of dropdown links on hover */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-small {
  @apply text-sm font-medium;
}

.paddings {
  @apply lg:px-20 py-6 px-5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

.modal-head-text {
  @apply md:text-5xl text-3xl font-extrabold text-left max-w-5xl w-full;
}

.no-result-text {
  @apply w-full text-center my-10 px-2;
}

/* Project Details */
.user-actions_section {
  @apply fixed max-md:hidden flex gap-4 flex-col right-10 top-20;
}

.user-info {
  @apply flex flex-wrap whitespace-nowrap text-sm font-normal gap-2 w-full;
}

/* Home */
.projects-grid {
  @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-10 mt-10 w-full;
}

/* Project Actions */
.edit-action_btn {
  @apply p-3 text-gray-100 bg-light-white-400 rounded-lg text-sm font-medium;
}

.delete-action_btn {
  @apply p-3 text-gray-100 hover:bg-red-600 rounded-lg text-sm font-medium;
}

/* Related Project Card */
.related_project-card {
  @apply flex-col rounded-2xl min-w-[210px] min-h-[197px];
}

.related_project-card_title {
  @apply justify-end items-end w-full h-1/3 bg-gradient-to-b from-transparent to-black/50 rounded-b-2xl gap-2 absolute bottom-0 right-0 font-semibold text-lg text-white p-4;
}

.related_projects-grid {
  @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-8 mt-5;
}

/* Custom Menu */
.custom_menu-btn {
  @apply gap-4 w-full rounded-md bg-light-white-100 p-4 text-base outline-none capitalize;
}

.custom_menu-items {
  @apply flex-col absolute left-0 mt-2 xs:min-w-[300px] w-fit max-h-64 origin-top-right rounded-xl bg-white border border-nav-border shadow-menu overflow-y-auto;
}

.custom_menu-item {
  @apply text-left w-full px-5 py-2 text-sm hover:bg-light-white-100 self-start whitespace-nowrap capitalize;
}

/* Footer */
.footer {
  @apply flex-col paddings w-full gap-20 bg-light-white;
}

.footer_copyright {
  @apply max-sm:flex-col w-full text-sm font-normal;
}

.footer_column {
  @apply flex-1 flex flex-col gap-3 text-sm min-w-max;
}

/* Form Field */
.form_field-input {
  @apply w-full outline-0 bg-light-white-100 rounded-xl p-4;
}

/* Modal */
.modal {
  @apply fixed z-10 left-0 right-0 top-0 bottom-0 mx-auto bg-black/80;
}

.modal_wrapper {
  @apply flex justify-start items-center flex-col absolute h-[95%] w-full bottom-0 bg-white rounded-t-3xl lg:px-40 px-8 pt-14 pb-72 overflow-auto;
}

/* Navbar */
.navbar {
  @apply py-5 px-8 border-b border-nav-border gap-4;
}

/* Profile Menu */
.profile_menu-items {
  @apply flex-col absolute right-1/2 translate-x-1/2 mt-3 p-7 sm:min-w-[300px] min-w-max rounded-xl bg-white border border-nav-border shadow-menu;
}

/* Profile Card */
.profile_card-title {
  @apply justify-end items-end w-full h-1/3 bg-gradient-to-b from-transparent to-black/50 rounded-b-2xl gap-2 absolute bottom-0 right-0 font-semibold text-lg text-white p-4;
}

/* Project Form */
.form {
  @apply flex-col w-full lg:pt-24 pt-12 gap-10 text-lg max-w-5xl mx-auto;
}

.form_image-container {
  @apply w-full lg:min-h-[400px] min-h-[200px] relative;
}

.form_image-label {
  @apply z-10 text-center w-full h-full p-20 text-gray-100 border-2 border-gray-50 border-dashed;
}

.form_image-input {
  @apply absolute z-30 w-full opacity-0 h-full cursor-pointer;
}

/* Profile Projects */
.profile_projects {
  @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-8 mt-5;
}